<div class="card h-100">
  <img [src]="recipe().imageUrl" class="card-img-top" [alt]="recipe().title">
  
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ recipe().title }}</h5>
    <p class="card-text">{{ recipe().description }}</p>

    <h6 class="card-subtitle mb-2 text-muted">Ingredientes:</h6>
    <ul class="list-group list-group-flush mb-3 flex-grow-1">
      @for (ingredient of recipe().ingredients; track $index) {
        <li class="list-group-item p-1">
          {{ ingredient }}
        </li>
      }
    </ul>

    <a [routerLink]="['/formulario-receta', recipe().id]" class="btn btn-primary mt-auto">
      Editar receta
    </a>
  </div>
</div>