<div class="container mt-5">
  @if (recipe(); as r) {
    <div class="row">
      <div class="col-md-6">
        <img [src]="r.imageUrl" [alt]="r.title" class="img-fluid rounded shadow-lg mb-4">
      </div>

      <div class="col-md-6">
        <h1 class="display-4">{{ r.title }}</h1>
        
        <div class="alert alert-warning d-inline-block mt-2">
          <span class="fs-4 fw-bold me-2">{{ averageRating() | number:'1.1-1' }} ⭐</span>
          <span class="text-muted">Basado en {{ r.ratings.length }} votos</span>
        </div>

        <p class="lead mt-3">{{ r.description }}</p>

        <h4 class="mt-4">Ingredientes:</h4>
        <ul class="list-group list-group-flush mb-4">
          @for (ing of r.ingredients; track $index) {
            <li class="list-group-item bg-transparent">
              <i class="bi bi-check2-circle me-2"></i> {{ ing }}
            </li>
          }
        </ul>

        <div class="d-flex gap-2">
            <a routerLink="/lista-de-recetas" class="btn btn-outline-secondary">Volver</a>
            </div>
      </div>
    </div>
  } @else {
    <p class="text-center mt-5">Cargando receta...</p>
  }
</div>