/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #f0f0e8;
  background-image: radial-gradient(#d3d3d3 0.5px, transparent 0.5px);
  background-size: 10px 10px;
}
